

<div class="center hero-unit">

	<% if flash[:success] %>
	<%= flash[:success] %>
	<% end %>

	<div>
	<h1>Simple. Fast. Utilified.</h1>
	<p>
        This is a template for a simple marketing or informational website. It
        includes a large callout called the hero unit and three supporting pieces
        of content. Use it as a starting point to create something more unique.
    </p>
	</div>
    <h2>
		<%= link_to "Sign up now!", '/signup', class: "btn btn-orange" %>
	</h2>
	
	<h2> - OR - </h2>
	<p>
	<div>
		
		
		<p>Take a Plunge and Enter Your Zip Code:</p> 
		<div id="search"><%= text_field "plan", "zip", "size" => 8 %></div>
		
		<!-- This needs to have a search function, so please edit Mr/Ms. Future -->
		<%= link_to "Search!", '/preferences', class: "btn btn-green" %>


	</div>
	</p>
</div>
<div class="row">
<div class="span4">
    <div>
    <h2>
        What is it?
    </h2>
        <p>
			Utility companies have forgotten that they work for you. Poor customer 
			service and marketing practices designed to obscure low rates and 
			discounts have been the norm for decades. Today, consumers are 
			clamoring for change, and Utilified is answering the call. By 
			implementing a sophisticated comparison platform that quickly assesses 
			complex promotional information across utility sectors, and incorporates
			consumer ratings, Utilified is one stop solution that saves you time and
			money..
        </p>
    </div>
    <a class="btn" href="/about">
        View details »
    </a>
    </div>
    <div class="span4">
      <div>
        <h2>
          Why Use It?
        </h2>
        <p>
          <h3>Saves Money</h3>
		  <p>So much money, you won't even know what to do with it.</p>
		  <h3>More time</h3>
		  <p>Do more of the stuff you want to do. We will help set you free from the chains of waiting lines.</p>
		  <h3>No Hassle</h3>
		  <p>No worries, no problems. Sleep soundly knowing we got your back.</p>
        </p>
      </div>
      <a class="btn" href="#">
        View details »
      </a>
    </div>
    <div class="span4">
      <div>
        <h2>
          Who is it for?
        </h2>
        <h3>
          YOU.
        </h3>
      </div>
      <a class="btn" href="#">
        View details »
      </a>
    </div>
  </div>