

<div class="center hero-unit">

	<% if flash[:success] %>
	<%= flash[:success] %>
	<% end %>

	<div>
	<h1>Simple. Easy. Utilified.</h1>
	<p>
        This is a template for a simple marketing or informational website. It
        includes a large callout called the hero unit and three supporting pieces
        of content. Use it as a starting point to create something more unique.
    </p>
	</div>  
    <h2>
		<%= link_to "Sign up now!", '/signup', class: "btn btn-orange" %>
	</h2>
	
	
	<p>
	<div>
		
		
		Your Zip Code: 
		<div id="search"><%= text_field "plan", "zip", "size" => 8 %></div>
		
		<!-- This needs to have a search function, so please edit Mr/Ms. Future -->
		<%= link_to "Search!", '/preferences', class: "btn btn-green" %>


	</div>
	</p>
</div>
<div class="row">
<div class="span4">
    <div>
    <h2>
        Heading
    </h2>
        <p>
          Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus
          ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
          sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed
          odio dui.
        </p>
    </div>
    <a class="btn" href="#">
        View details »
    </a>
    </div>
    <div class="span4">
      <div>
        <h2>
          Heading
        </h2>
        <p>
          Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus
          ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
          sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed
          odio dui.
        </p>
      </div>
      <a class="btn" href="#">
        View details »
      </a>
    </div>
    <div class="span4">
      <div>
        <h2>
          Heading
        </h2>
        <p>
          Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus
          ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
          sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed
          odio dui.
        </p>
      </div>
      <a class="btn" href="#">
        View details »
      </a>
    </div>
  </div>