<!--<footer class="footer">
  <small>
	Made with love in <a href="https://maps.google.com/maps?q=ithaca,+ny&aq=f&ie=UTF-8&hl=en">Ithaca</a> over a busy weekend.
  </small>
  <nav>
    <ul>
		<li><%= link_to "About",   about_path %></li>
		<li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>-->