<!--<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
	  <%= link_to image_tag("logo.png", alt: "Logo"), '/' %>
	  
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    root_path %></li>
          
		  Dear future, probably should think about adding this sign in later
		  <li><%= link_to "Sign in", '#' %></li>
        
		</ul>
      </nav>
    </div>
  </div>
</header>-->